<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Manager</title>
    <link rel="icon" href="favicon.ico">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>


</head>
<body id="app">
    <!-- Statistics Section with Bootstrap Styling -->
    <div class="container mt-5">
        <h1>Budget Manager</h3>
        <div class="card">
            <div class="card position-relative">
                <button class="btn btn-light btn-sm position-absolute top-0 end-0 m-2" @click="reloadStatistics" title="Reload Overview">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
            <div class="card-body">
                <h4 class="card-title">Overview</h4>
                <div class="d-flex justify-content-between">
                  <span>Daily Income:</span>
                    <strong>{{ dailyIncome }},00 CHF</strong>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Fix Costs:</span>
                  <strong>- {{dailyFixedCosts}},00 CHF</strong>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Daily Emergency Savings:</span>
                  <strong>- {{dailySavings}},00 CHF</strong>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Spend Today:</span>
                  <strong>- {{ spendToday }},00 CHF</strong>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                  <span>Free Spendable Money Today:</span>
                  <strong>= {{ freeSpendableMoneyPerDay }},00 CHF</strong>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Savings on Account:</span>
                  <strong>+ {{savingsAccount}},00 CHF</strong>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                  <span>Total Spendable Money:</span>
                  <strong>= {{ totalSpendableMoney }},00 CHF</strong>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Avr. Spendings per Day</span>
                    <strong>{{ AverageSpendDaily  }},00 CHF</strong>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Additional sections like Add Purchase, Graph, and Overview can be similarly styled -->
    <!-- For example, here's a styled form for adding purchases -->
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Transaction</h4>
                <form @submit.prevent="transaction.type === 'single' ? submitTransaction() : submitRepeatingTransaction()">
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="singleTransaction" value="single" v-model="transaction.type">
                            <label class="form-check-label" for="singleTransaction">Single Transaction</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="repeatingTransaction" value="repeating" v-model="transaction.type">
                            <label class="form-check-label" for="repeatingTransaction">Repeating Transaction</label>
                        </div>
                    </div>
    
                    <!-- Common fields -->
                    <div class="mb-3">
                        <label for="transactionName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="transactionName" v-model="transaction.name">
                    </div>
    
                    <!-- Specific field for single transaction -->
                    <div class="mb-3" v-if="transaction.type === 'single'">
                        <label for="transactionDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="transactionDate" v-model="transaction.date">
                    </div>
    
                    <!-- Fields for repeating transaction -->
                    <template v-if="transaction.type === 'repeating'">
                        <div class="mb-3">
                            <label for="validFrom" class="form-label">Valid From</label>
                            <input type="date" class="form-control" id="validFrom" v-model="transaction.validFrom">
                        </div>
                        <div class="mb-3">
                            <label for="validUntil" class="form-label">Valid Until</label>
                            <input type="date" class="form-control" id="validUntil" v-model="transaction.validUntil">
                        </div>
                        <div class="mb-3">
                            <label for="interval" class="form-label">Interval</label>
                            <select id="interval" class="form-select" v-model="transaction.interval">
                                <option value="monthly">Every Month</option>
                                <option value="yearly">Once a Year</option>
                                <option value="biyearly">Twice a Year</option>
                            </select>
                        </div>
                    </template>
    
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" v-model="transaction.amount">
                    </div>
    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Budget and Daily Expenses</h4>
                <!-- Canvas for Chart.js chart -->
                <canvas id="budgetChart"></canvas>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update Income</h4>
            <form @submit.prevent="transaction.type === 'single' ? submitIncome() : submitRepeatingIncome()">
              <div class="mb-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="singleTransaction" value="single" v-model="incomeType">
                  <label class="form-check-label" for="singleTransaction">Single Transaction</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="monthlyIncome" value="monthly" v-model="incomeType">
                  <label class="form-check-label" for="monthlyIncome">Monthly</label>
                </div>
              </div>
      
              <div class="mb-3">
                <label for="incomeName" class="form-label">Name</label>
                <input type="text" class="form-control" id="incomeName" v-model="income.name">
              </div>

              <div class="mb-3" v-if="incomeType !== 'monthly'">
                <label for="incomeDate" class="form-label">Date</label>
                <input type="date" class="form-control" id="incomeDate" v-model="income.date">
              </div>
      
              <div class="mb-3" v-if="incomeType === 'monthly'">
                <label for="validFrom" class="form-label">Valid From</label>
                <input type="date" class="form-control" id="validFrom" v-model="income.validFrom">
              </div>
              <div class="mb-3" v-if="incomeType === 'monthly'">
                <label for="validUntil" class="form-label">Valid Until</label>
                <input type="date" class="form-control" id="validUntil" v-model="income.validUntil">
              </div>
      
              <div class="mb-3">
                <label for="incomeAmount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="incomeAmount" v-model="income.amount">
              </div>
      
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
    </div>

    <div id="app" class="container mt-5">
        <!-- Lists -->
        <section v-for="list in lists" :key="list.name" class="mt-4">
          <h2>{{ list.name }}</h2>
          <table class="table">
            <thead>
              <tr>
                <th style="width: 40%;">Name</th>
                <th v-if="list.name !== 'Purchases/Earnings'" style="width: 25%;">Valid From</th>
                <th v-if="list.name !== 'Purchases/Earnings'" style="width: 25%;">Valid Until</th>
                <th v-if="list.name === 'Purchases/Earnings'" style="width: 50%;">Date</th>
                <th style="width: 20%;">Amount</th>
                <th style="width: 15%;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in list.items" :key="item.id">
                <td>{{ item.Name }}</td>
                <td v-if="list.name !== 'Purchases/Earnings'">{{ item.ValidFrom }}</td>
                <td v-if="list.name !== 'Purchases/Earnings'">{{ item.ValidUntil }}</td>
                <td v-if="list.name === 'Purchases/Earnings'">{{ item.Date }}</td>
                <td :class="{ 'text-success': item.type === 'income', 'text-danger': item.type === 'expense' }">
                  <template v-if="item.type === 'income'">+{{ item.Amount }}</template>
                  <template v-if="item.type === 'expense'">{{ item.Amount }}</template>
                </td>
                <td>
                  <button class="btn btn-primary" @click="editItem(item, list.name)">Edit</button>
                  <button class="btn btn-danger" @click="deleteItem(item, list.name)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      
    



























    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- App Script -->
    <script src="js/app.js"></script>
      
</body>
</html>
